<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>universidades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Ingrese el pais</ion-label>
    <ion-input placeholder="Pais" [(ngModel)] = "universidad"></ion-input>
  </ion-item>
  <ion-item>
    <ion-button (click)="predict()" expand="block" fill="clear" shape="round">
      Predecir
    </ion-button>
  </ion-item>
  <ion-item *ngFor="let uni of arrUni">
    <ion-label >
      Nombre de la universidad: {{uni.name}}<br>
      Dominio de la universidad: {{uni.domains}}<br>
      Link de la universidad: {{uni.web_pages}}
      
    </ion-label>
  </ion-item>
</ion-content>
