<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lista de universidades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Ingrese el pais</ion-label>
    <ion-input placeholder="Pais" [(ngModel)] = "universidad"></ion-input>
  </ion-item>
  <ion-item>
    <ion-button (click)="predict()" expand="block" fill="clear" shape="round">
      Buscar
    </ion-button>
  </ion-item>
  <ion-item *ngFor="let uni of arrUni">
    <ion-label >
      <strong>Nombre de la universidad: </strong>
      <ion-label>{{uni.name}}</ion-label>
      <strong>Dominio de la universidad: </strong>
      <br>{{uni.domains}}<br>
      <strong>Link de la universidad: </strong>
      <br>{{uni.web_pages}}
      
    </ion-label>
  </ion-item>
</ion-content>
